<ul class="messages">
    <% for (const message of messages) { %>
        <li class="message">
            <% if (message.user_id === userID) { %>
                <a href="/edit-message/<%= message.message_id %>">Edit</a>
                <form class="delete-message-form" action="/delete-message/<%= message.message_id %>" method="POST">
                    <input type="submit" value="X">
                </form>
            <% } %>
            <p class="name"><%= message.name %></p>
            <p class="content"><%= message.content %></p>
        </li>
    <% } %>
</ul>
